h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
#root {
  width: 100%;
}
.page {
  padding: 2rem;
}
.heading > h {
  margin: 0;
}
.expanded {
  /* background-color: red; */
}
.flex {
  display: flex;
  align-items: center;
}
.calender {
  flex: 2;
  padding-left: 40px;
  /* background: #000; */
}
.todo {
  flex: 3;
}
.calender .day-string {
  display: flex;
  font-size: large;
  font-weight: 600;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 25px;
  row-gap: 0;
  width: 300px; /* Set an appropriate width for your calendar */
}

.day {
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  padding: 5px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.day#today {
  font-weight: 800;
}
.day:hover {
  font-weight: 800;
  cursor: pointer;
}
.dot {
  background: #fff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.month {
  width: 340px;
  display: flex;
  justify-content: space-between;
}
.todo_card {
  height: "200px";
  padding: 10px 20px;
  border-radius: 8px;
  background: #000;
  margin-top: 20px;
}
.todo_card:hover {
  cursor: pointer;
}
.todo-list {
  margin-top: 10px;
}
#item {
  border-radius: 5px;
  width: 90%;
  border: 1px solid grey;
  margin-top: 10px;
  padding: 10px 0 10px 10px;
  background: transparent;
}
.form {
  align-items: baseline;
  display: flex;
  gap: 20px;
}
.heading h3 {
  font-size: 50px;
}

/* Tablets (portrait) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
}
/* Phones (portrait and landscape) */
@media (max-width: 767px) {
  #root {
    padding: 1rem;
  }
  .heading {
    font-size: 25px;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .calender {
    padding: 0;
  }
  .day {
    padding: 0;
  }
  .days {
    gap: 5px;
    row-gap: 0;
    /* Set an appropriate width for your calendar */
  }
  .todo {
    margin-top: 22px;
  }
  .calender .day-string {
    display: flex;
    font-size: medium;
    font-weight: 600;
    gap: 25px;
  }
  .form {
    flex-direction: column;
  }
  #item {
    width: 130%;
  }
}
