:root {
  font-family: "Nunito Variable", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff !important;
  text-decoration: underline !important;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.section {
  display: flex;
  margin-top: 50px;
  padding: 0 40px;
  align-items: center;
  text-align: justify;
  gap: 100px;
}
.section-content {
  font-size: 18px;
}
.section-img {
  width: 100%;
}
hr {
  border-color: #333333ff;
  border-width: 2px;
  margin-top: 50px;
}
.section-title {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 5px;
}
.appbar {
  padding: 20px 20px;

  display: flex;
  justify-content: space-between;
}
.appbar ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
.appbar ul > li a {
  color: #fff !important;
  text-decoration: none !important;
  font-weight: 600;
}

.hero {
  text-align: center;
}
.hero-header {
  font-size: 72px;
  font-weight: 800;
}
.hero-sub-header {
  font-size: 30px;
  padding: 0 200px;
}
.order1 {
  order: 1;
}
.order2 {
  order: 2;
}
@media (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {
  .hero-sub-header {
    padding: 100px;
  }
}
/* Phones (portrait and landscape) */
@media (max-width: 767px) {
  .appbar-menu {
    display: none;
  }
  .appbar {
    padding: 0;
  }

  .page {
    padding: 2rem 0;
  }
  .hero-sub-header {
    font-size: 24px;
    padding: 0;
  }
  .hero-header {
    font-size: 32px;
  }
  .section {
    margin-top: 50px;
    flex-direction: column;
    gap: 100px;
  }
  .order1 {
    order: 0;
  }
  .order2 {
    order: 0;
  }
  .section {
    padding: 0px;
  }
  .section-content {
    order: 1;
  }
  .section-img {
    order: 2;
  }
}
